name: Build & Push Image

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write   # ⭐ ЭНЭ ЧУХАЛ

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: dorjoohover
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ghcr.io/dorjoohover/hire_backend_core:main
